body{
  width: 100%;
  margin: 0px;
}
.bodyofcontent{
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 20px;
}
#word{
  height: 40px;
}
#definiton{
  height: 150px;
}
#inputer{
  height: 30px;
  vertical-align: top;
  text-align: center;
  margin-left: 5px;
}
.bodyoftablemain{
  margin-top: 10px;
  margin-left: 24%;
  margin-right: 24%;
  height: 250px;
  width: 49%;
  border-radius: 20px;
  background: #1b6767;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  color: #feffa6;
  font-family: cursive;
  padding:10px;

}
.headerofgamer{
  text-align: center;
  color: #feffa6;
  font-family: cursive;
}
.bodyofheader{
  background: #1b6767;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 20%;
  height: 130px;
  margin-left: 3%;
  color: #feffa6;
  font-family: cursive;
  padding: 10px;
}
.buttonplacer{
  margin-top: 10px;
  margin-left: 24%;
  margin-right: 24%;
  height: 40px;
  width: 49%;
  border-radius: 20px;
  background: #1b6767;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  color: #feffa6;
  font-family: cursive;
  padding:10px;
  vertical-align: middle;
}
label{
  vertical-align: top;
  margin-left: 5px;
}
.buttonplacer button{
  height:40px;
}
button{
    margin-left: 5px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color: #287bbc;
    border-color: #1b5480;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
    background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 20px;
}
button:hover{
  background-color: #2672ae;

  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2672AE', endColorstr='#FF1E4F7E');

  background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);

  background-image: -moz-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);

  background-image: -o-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);

  background-image: linear-gradient(top, #2672ae 0%,#1e4f7e 100%);

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);

  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);

  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
